.app__container {
    max-width: 576px;
    margin: 0 auto;
    padding: 10px 0;
    font-family: sans-serif;
}

.app__title {
    margin: 10px 0 15px;
    font-weight: bold;

    @media (max-width: 576px) {
        margin-left: 10px;
    }
}