.form__input {
  display: flex;
  flex-wrap: wrap;

  input {
    width: 160px;
    flex-grow: 1;
    padding: 10px;
    border: none;
    background: #eee;
    margin: 2px 1px 0;
    border-radius: 5px;
    font-size: 18px;

    @media (max-width: 576px) {
      border-radius: 0;
    }
  }
}

.form__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.form__result {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.form__button {
  background-color: #0071bc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #0059ba;
  }

  @media (max-width: 576px) {
    margin-right: 10px;
  }
}
