.list__container {
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 20px;

  td {
    border-bottom: 1px solid #ccc;
    padding: 12px 10px;
  }
}

.list__value {
  text-align: center;
}

.list__delete {
  background-color: #ff4f00;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  float: right;

  &:hover {
    background-color: #cc3f00;
  }
}

.list__reset {
  float: right;
  text-decoration: none;
  color: #0071bc;
  padding: 5px 0;

  &:hover {
    color: #0059ba;
  }
}

.list__eat {
  display: block;
  margin: 40px auto 20px;
}