.main__container {
  max-width: 576px;
  margin: 0 auto;
  padding: 10px 0;
  font-family: sans-serif;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 15px;

  a {
    text-decoration: none;
  }
}

.main__about {
  padding: 10px;
  color: #ccc;

  &:hover {
    color: #aaa;
  }
}

.main__logo {
  max-width: 150px;

  @media (max-width: 576px) {
    margin-left: 10px;
  }
}