.main__container {
  max-width: 576px;
  margin: 0 auto;
  padding: 10px 0;
  font-family: sans-serif;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 15px;

  a {
    text-decoration: none;
  }
}

.main__install,
.main__about {
  padding: 10px;
  color: #a8a8a8;

  &:hover {
    color: #808080;
  }
}

@media (max-width: 576px) {
  .main__logo {
      margin-left: 10px;
  }
}