body {
  padding: 50px;
  font-family: sans-serif;
}

.form input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0066ff;
  width: 165px;
  border-radius: 5px;
}

.form button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
  border-radius: 5px;
}

.form button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.list {
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.list li {
  color: #fff;
  background-color: #0066ff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.list li:hover {
  background-color: #003399;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}